<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">  
    <title>Document</title>
</head>
<body>
     <header class="header">
            <div class="container header_wrapper">   
                <nav class="navigation">
                    <a href="../templates/index.html" class="logo">Web<span class="logo_span">Studio</span></a>
                    <ul class="nav_list">
                        <li class="nav_list_item "><a href="../templates/index.html" class="nav_list_a current ">Studio</a></li>
                        <li class="nav_list_item"><a href="" class="nav_list_a ">Portfolio</a></li>
                        <li class="nav_list_item"><a href="" class="nav_list_a ">Contacts</a></li>
                    </ul>
        
                </nav>
                <address class="address">
                    <ul class="address_list">
                        <li class="address_list_item"><a href="mailto:info@devstudio.com" class="address_a">info@devstudio.com</a></li>
                        <li class="address_list_item"><a  href="tel:+110001111111" class="address_a">+11 (000) 111-11-11</a></li>
                    </ul>
                </address>
                <button class="open_menu_btn" type="button">
                    <svg class="" width="24" height="24">
                        <use href ="../static/images/icons.svg#icon-menu_btn"></use>
                    </svg>
                </button>
                
            </div>
    </header>

    <main>
        <section class="hero">
            <div class="container">
                <h1 class="title">Effective Solutions for Your Problems</h1>
                <button type="button" class="hero_btn">Order Service</button>

            </div>
        </section>
         <section class="plan">
            <div class="container">
                <h2 class="plan_title visually-hidden">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam officiis aliquam iste a in optio ullam nisi veniam, cumque quasi incidunt id veritatis amet exercitationem dolor explicabo error fugit. Cumque.</h2>

                <ul class="plan_list">
                    <li class="plan_list_item">
                        <div class="plan_icon">
                            <svg class="plan_icon_svg" width="64" height="64">
                                <use href="../static/images/icons.svg#icon-antenna-1"></use>
                            </svg>
                        </div>
                        <h3 class="plan_list_title">Strategy</h3>
                        <p class="plan_text">Our goal is to identify societal шт in order to find an ideal and creative solution. </p>
                    </li>
                    <li class="plan_list_item">
                        <div class="plan_icon">
                            <svg class="plan_icon_svg" width="64" height="64">
                                <use href ="../static/images/icons.svg#icon-clock-1"></use>
                            </svg>
                        </div>
                        <h3 class="plan_list_title">Punctuality</h3>
                        <p class="plan_text">Bring the key message to the society  for the best price within the shortest possible time.</p>
                    </li >
                    <li class="plan_list_item">
                        <div class="plan_icon">
                            <svg class="plan_icon_svg" width="64" height="64">
                                <use href ="../static/images/icons.svg#icon-diagram-1"></use>
                            </svg>
                        </div>
                        <h3 class="plan_list_title">Diligence</h3>
                        <p class="plan_text">Research and confirm brands that present the strongest digital growth opportunities and minimize risk.</p>
                    </li>
                    <li class="plan_list_item">
                        <div class="plan_icon">
                            <svg class="plan_icon_svg" width="64" height="64">
                                <use href ="../static/images/icons.svg#icon-astronaut-1"></use>
                            </svg>
                        </div>
                        <h3 class="plan_list_title">Technologies</h3>
                        <p class="plan_text">Design practice focused on digital experiences. We bring forth a deep passion for problem-solving.</p>
                    </li>
                </ul>
            </div>
        </section> 
        <section class="team">
            <div class="container">
                <h2 class="team_title">Our Team</h2>
                <ul class="team_list">
                    <li class="team_list_item">
                        <img srcset="../static/images/team/img1.png 1x, ../static/images/team/img1-2x.png 2x" src="../static/images/team/img1.png" alt="Mark Guerrero" width="264" height="260">
                        <div class="team_text_wrapper">
                            <h3 class="team_list_title">Mark Guerrero</h3>
                            <p class="team_list_text text_space">Product Designer</p>
                            <ul class="team_icon_list">
                                <li class="team_icon_list_item">
                                    <a href="#" class="team_icon_a">
                                        <svg class="soc_icon_svg" width="16" height="16">
                                            <use href ="../static/images/icons.svg#icon-instagram-2"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team_icon_list_item">
                                    <a href="#" class="team_icon_a">
                                        <svg class="soc_icon_svg" width="16" height="16">
                                            <use href ="../static/images/icons.svg#icon-twitter-1"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team_icon_list_item">
                                    <a href="#" class="team_icon_a">
                                        <svg class="soc_icon_svg" width="16" height="16">
                                            <use href ="../static/images/icons.svg#icon-facebook-1"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team_icon_list_item">
                                    <a href="#" class="team_icon_a">
                                        <svg class="soc_icon_svg" width="16" height="16">
                                            <use href ="../static/images/icons.svg#icon-linkedin-1"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="team_list_item">
                        <img srcset="../static/images/team/img2.jpg 1x, ../static/images/team/img2-2x.png 2x" src="../static/images/team/img2.jpg" alt="Tom Ford" width="264" height="260">
                        <div class="team_text_wrapper">
                            <h3 class="team_list_title">Tom Ford</h3>
                            <p class="team_list_text text_space">Frontend Developer</p>
                            <ul class="team_icon_list">
                                <li class="team_icon_list_item">
                                    <a href="#" class="team_icon_a">
                                        <svg class="soc_icon_svg" width="16" height="16">
                                            <use href ="../static/images/icons.svg#icon-instagram-2"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team_icon_list_item">
                                    <a href="#" class="team_icon_a">
                                        <svg class="soc_icon_svg" width="16" height="16">
                                            <use href ="../static/images/icons.svg#icon-twitter-1"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team_icon_list_item">
                                    <a href="#" class="team_icon_a">
                                        <svg class="soc_icon_svg" width="16" height="16">
                                            <use href ="../static/images/icons.svg#icon-facebook-1"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team_icon_list_item">
                                    <a href="#" class="team_icon_a">
                                        <svg class="soc_icon_svg" width="16" height="16">
                                            <use href ="../static/images/icons.svg#icon-linkedin-1"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="team_list_item">
                        <img srcset="../static/images/team/img3.jpg 1x, ../static/images/team/img3-2x.png 2x" src="../static/images/team/img3.jpg" alt="Camila Garcia" width="264" height="260">
                        <div class="team_text_wrapper">
                            <h3 class="team_list_title">Camila Garcia</h3>
                            <p class="team_list_text text_space">Marketing</p>
                            <ul class="team_icon_list">
                                <li class="team_icon_list_item">
                                    <a href="#" class="team_icon_a">
                                        <svg class="soc_icon_svg" width="16" height="16">
                                            <use href ="../static/images/icons.svg#icon-instagram-2"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team_icon_list_item">
                                    <a href="#" class="team_icon_a">
                                        <svg class="soc_icon_svg" width="16" height="16">
                                            <use href ="../static/images/icons.svg#icon-twitter-1"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team_icon_list_item">
                                    <a href="#" class="team_icon_a">
                                        <svg class="soc_icon_svg" width="16" height="16">
                                            <use href ="../static/images/icons.svg#icon-facebook-1"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team_icon_list_item">
                                    <a href="#" class="team_icon_a">
                                        <svg class="soc_icon_svg" width="16" height="16">
                                            <use href ="../static/images/icons.svg#icon-linkedin-1"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="team_list_item">
                        <img srcset="../static/images/team/img4.png 1x, ../static/images/team/img4-2x.png 2x" src="../static/images/team/img4.png" alt="Daniel Wilson" width="264" height="260">
                        <div class="team_text_wrapper">
                            <h3 class="team_list_title">Daniel Wilson</h3>
                            <p class="team_list_text text_space">UI Designer</p>
                            <ul class="team_icon_list">
                                <li class="team_icon_list_item">
                                    <a href="#" class="team_icon_a">
                                        <svg class="soc_icon_svg" width="16" height="16">
                                            <use href ="../static/images/icons.svg#icon-instagram-2"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team_icon_list_item">
                                    <a href="#" class="team_icon_a">
                                        <svg class="soc_icon_svg" width="16" height="16">
                                            <use href ="../static/images/icons.svg#icon-twitter-1"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team_icon_list_item">
                                    <a href="#" class="team_icon_a">
                                        <svg class="soc_icon_svg" width="16" height="16">
                                            <use href ="../static/images/icons.svg#icon-facebook-1"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team_icon_list_item">
                                    <a href="#" class="team_icon_a">
                                        <svg class="soc_icon_svg" width="16" height="16">
                                            <use href ="../static/images/icons.svg#icon-linkedin-1"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </section> 
         <section class="portfolio">
            <div class="container">
                <h2 class="portfolio_title port_special">Our Portfolio</h2>
                <ul class="port_inf">
                    <li class="port_list_item">                      
                        <div class="portfolio_img">
                            <picture>
                                <source media="(max-width:767px)" srcset="../static/images/portf/bank_app-m-1x.jpg 1x, ../static/images/portf/bank_app-m-2x.jpg 2x"/>
                                <source media="(min-width:768px)" srcset="../static/images/portf/bank_app-t-1x.jpg 1x, ../static/images/portf/bank_app-t-2x.jpg 2x"/>
                                <source media="(max-width:1158px)" srcset="../static/images/portf/bank_app.jpg 1x, ../static/images/portf/bank_app-2x.jpg 2x"/>
                                <img srcset="../static/images/portf/bank_app.jpg 1x, ../static/images/portf/bank_app-2x.jpg 2x" src="../static/images/portf/bank_app.jpg" alt="bank_app" width="360" >
                            </picture>
                            <p class="portfolio_img_text">14 Stylish and User-Friendly App Design Concepts · Task Manager App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App</p>
                        </div>
                        <div class="port_list_text_wrapper">
                            <h3 class="portfolio_list_title">Banking App</h3>
                            <p class="port_list_text">App</p>
                        </div>
                    </li>
                    <li class="port_list_item">
                        <div class="portfolio_img">
                            <picture>
                                <source media="(max-width:767px)" srcset="../static/images/portf/cash_pay.jpg 1x, ../static/images/portf/cash_pay-m-2x.jpg 2x"/>
                                <source media="(min-width:768px)" srcset="../static/images/portf/cash_pay-t-1x.jpg 1x, ../static/images/portf/cash_pay-t-2x.jpg 2x"/>
                                <source media="(max-width:1158px)" srcset="../static/images/portf/cash_pay.jpg 1x, ../static/images/portf/cash_pay-2x.jpg 2x"/>
                                <img srcset="../static/images/portf/cash_pay.jpg 1x, ../static/images/portf/cash_pay-2x.jpg 2x" src="../static/images/portf/cash_pay.jpg" alt="cash_pay" width="360"  >
                            </picture>
                            <p class="portfolio_img_text">14 Stylish and User-Friendly App Design Concepts · Task Manager App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App</p>
                        </div>
                        <div class="port_list_text_wrapper">
                            <h3 class="portfolio_list_title">Cashless Payment</h3>
                            <p class="port_list_text">Marketing</p>
                        </div>
                    </li>
                    <li class="port_list_item">
                        <div class="portfolio_img">
                            <picture>
                                <source media="(max-width:767px)" srcset="../static/images/portf/med_app-m-1x.jpg 1x, ../static/images/portf/med_app-m-2x.jpg 2x"/>
                                <source media="(min-width:768px)" srcset="../static/images/portf/med_app-t-1x.jpg 1x, ../static/images/portf/med_app-t-2x.jpg 2x"/>
                                <source media="(max-width:1158px)" srcset="../static/images/portf/med_app.jpg 1x, ../static/images/portf/med_app-2x.jpg 2x"/>
                                <img srcset="../static/images/portf/med_app.jpg 1x, ../static/images/portf/med_app-2x.jpg 2x" src="../static/images/portf/med_app.jpg" alt="med_app" width="360" >
                            </picture>
                            <p class="portfolio_img_text">14 Stylish and User-Friendly App Design Concepts · Task Manager App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App</p>
                        </div>
                        <div class="port_list_text_wrapper">
                            <h3 class="portfolio_list_title">Meditation App</h3>
                            <p class="port_list_text">App</p>
                        </div>
                    </li>
                    <li class="port_list_item">
                        <div class="portfolio_img">
                            <picture>
                                <source media="(max-width:767px)" srcset="../static/images/portf/taxi-m-1x.jpg 1x, ../static/images/portf/taxi-m-2x.jpg 2x"/>
                                <source media="(min-width:768px)" srcset="../static/images/portf/taxi-t-1x.jpg 1x, ../static/images/portf/taxi-t-2x.jpg 2x"/>
                                <source media="(max-width:1158px)" srcset="../static/images/portf/taxi.jpg 1x, ../static/images/portf/taxi-2x.jpg 2x"/>
                                <img srcset="../static/images/portf/taxi.jpg 1x, ../static/images/portf/taxi-2x.jpg 2x" src="../static/images/portf/taxi.jpg" alt="taxi" width="360" height="300">
                                
                            </picture>
                            <p class="portfolio_img_text">14 Stylish and User-Friendly App Design Concepts · Task Manager App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App</p>
                        </div>
                        <div class="port_list_text_wrapper">
                            <h3 class="portfolio_list_title">Taxi Service</h3>
                            <p class="port_list_text">Marketing</p>
                        </div>
                    </li>
                    <li class="port_list_item">
                        <div class="portfolio_img">
                            <picture>
                                <source media="(max-width:767px)" srcset="../static/images/portf/screen-m-1x.jpg 1x, ../static/images/portf/screen-m-2x.jpg 2x"/>
                                <source media="(min-width:768px)" srcset="../static/images/portf/screen-t-1x.jpg 1x, ../static/images/portf/screen-t-2x.jpg 2x"/>
                                <source media="(max-width:1158px)" srcset="../static/images/portf/screen.jpg 1x, ../static/images/portf/screen-2x.jpg 2x"/>
                                <img srcset="../static/images/portf/screen.jpg 1x, ../static/images/portf/screen-2x.jpg 2x" src="../static/images/portf/screen.jpg" alt="screen" width="360"  >
                            </picture>
                            <p class="portfolio_img_text">14 Stylish and User-Friendly App Design Concepts · Task Manager App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App</p>
                        </div>
                        <div class="port_list_text_wrapper">
                            <h3 class="portfolio_list_title">Screen Illustrations</h3>
                            <p class="port_list_text">Design</p>
                        </div>
                    </li>
                    <li class="port_list_item">
                        <div class="portfolio_img">
                            <picture>
                                <source media="(max-width:767px)" srcset="../static/images/portf/online-m-1x.jpg 1x, ../static/images/portf/online-m-2x.jpg 2x"/>
                                <source media="(min-width:768px)" srcset="../static/images/portf/online-t-1x.jpg 1x, ../static/images/portf/online-t-2x.jpg 2x"/>
                                <source media="(max-width:1158px)" srcset="../static/images/portf/online.jpg 1x, ../static/images/portf/online-2x.jpg 2x"/>
                                <img srcset="../static/images/portf/online.jpg 1x, ../static/images/portf/online-2x.jpg 2x" src="../static/images/portf/online.jpg" alt="online" width="360"  >
                                
                            </picture>
                            <p class="portfolio_img_text">14 Stylish and User-Friendly App Design Concepts · Task Manager App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App</p>
                        </div>
                        <div class="port_list_text_wrapper">
                            <h3 class="portfolio_list_title">Online Courses</h3>
                            <p class="port_list_text">Marketing</p>
                        </div>
                    </li>
                </ul>
            </div>
        </section> 
    </main>
     <footer class="footer">
        <div class="container footer_wrap">
            <div class="footer_info_left">
                <a href="../templates/index.html" class="logo footer_logo">Web<span class="footer_span">Studio</span></a>
                <p class="footer_text">Increase the flow of customers and sales for your business with digital marketing & growth solutions.<p>
            </div>
            <div class="footer_info_right">
                <p class="footer_info_right_text">Social media</p>
                <ul class="footer_icon_list">
                    <li class="footer_icon_list_item">
                        <a href="#" class="footer_icon_a">
                            <svg class="soc_icon_svg" width="24" height="24">
                                <use href ="../static/images/icons.svg#icon-instagram-2"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer_icon_list_item">
                        <a href="#" class="footer_icon_a">
                            <svg class="soc_icon_svg" width="24" height="24">
                                <use href ="../static/images/icons.svg#icon-twitter-1"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer_icon_list_item">
                        <a href="#" class="footer_icon_a">
                            <svg class="soc_icon_svg" width="24" height="24">
                                <use href ="../static/images/icons.svg#icon-facebook-1"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer_icon_list_item">
                        <a href="#" class="footer_icon_a">
                            <svg class="soc_icon_svg" width="24" height="24">
                                <use href ="../static/images/icons.svg#icon-linkedin-1"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer_form_wrapper">
                <p class="footer_form_text">Subscribe</p>
                <form  class="footer_form">
                    <label for="footer-input-form" class="footer_label">
                        <input type="email" name="footer-input" id="footer-input-form" class="footer_form_input"
                        placeholder="E-mail">
                    </label>
                    <button type="submit" class="footer_form_btn">Subscribe
                        <svg class="footer_form_icon" width="24" height="24">
                            <use href ="../static/images/icons.svg#icon-frame-3"></use>
                        </svg>
                    </button>
                </form>
            </div>
        </div>
    </footer> 
     <div class="back_drop "> 
        <div class="modal">
            <button type="button" class="modal_close_btn">
                <svg class="modal_close_icon" width="8" height="8">
                    <use href="../static/images/icons.svg#icon-close-black"></use>
                </svg>
            </button>
            <p class="modal_title">Leave your contacts and we will call you back</p>
            <form class="modal_form">
                <div class="form_section">
                    <label class="modal_form_label" for="user-name">Name</label>
                    <div class="input_wrapper">
                        <input class="form_input" type="text" name="user-name" id="user-name">
                        <svg class="modal_icon" width="18" height="24">
                            <use href="../static/images/icons.svg#icon-person-black"></use>
                        </svg>
                    </div>
                </div>
                <div class="form_section">
                    <label class="modal_form_label" for="phone">Phone</label>
                    <div class="input_wrapper">
                        <input class="form_input" type="tel" name="phone" id="phone">
                        <svg class="modal_icon" width="18" height="24">
                            <use href="../static/images/icons.svg#icon-phone-black"></use>
                        </svg>
                    </div>
                </div>
                <div class="form_section">
                    <label class="modal_form_label" for="email">Email</label>
                    <div class="input_wrapper">
                        <input class="form_input" type="email" name="email" id="email">
                        <svg class="modal_icon" width="18" height="24">
                            <use href="../static/images/icons.svg#icon-email-black"></use>
                        </svg>
                    </div>
                </div>
                <div class="form_textarea">
                    <label for="user-comment" class="modal_form_label">Comment</label>
                    <textarea name="user-comment" id="user-comment" cols="30" rows="10"  placeholder="Text input" class="text_area"></textarea>
                </div>
                <div class="check_box">
                    <input type="checkbox" id="user-privacy"  value="true" name="user-privacy" class="check_box_input visually-hidden">
                    <label class="check_box_label" for="user-privacy">
                        <span class="check_box_span">
                            <svg class="span_icon" width="10" height="8">
                                <use href="../static/images/icons.svg#icon-vector"></use>
                            </svg>
                        </span> 
                        I accept the terms and conditions of the <a href="#" class="span_a">Privacy Policy</a></label>
                </div>
                <button class="form_btn" type="submit">Send</button>
            </form>
        </div>
    </div>
    <div class="menu ">
        <div class="div-menu">
          <button class="close-button-menu" type="button">
            <svg class="icon-close" width="8" height="8">
              <use href="../static/images/icons.svg#icon-close-black"></use>
            </svg>
          </button>
          <ul class="menu-list">
            <li class="menu-list-li">
              <a
                class="menu-list-first current"
                href="../templates/index.html"
                target="_blank"
                >Studio</a
              >
            </li>
            <li class="menu-list-li">
              <a class="menu-list-first" href="" target="_blank">Portfolio</a>
            </li>
            <li class="menu-list-li">
              <a class="menu-list-first" href="" target="_blank">Contacts</a>
            </li>
          </ul>
  
          <address class="menu-address">
            <ul class="menu-contacts-list">
              <li class="menu-list-li">
                <a class="menu-contacts current" href="tel:+110001111111"
                  >+11 (000) 111-11-11</a
                >
              </li>
              <li class="menu-list-li">
                <a class="menu-contacts" href="mailto:info@devstudio.com"
                  >info@devstudio.com</a
                >
              </li>
            </ul>
            <ul class="team_icon_list menu_gap">
                <li class="team_icon_list_item">
                    <a href="#" class="team_icon_a">
                        <svg class="soc_icon_svg" width="16" height="16">
                            <use href ="../static/images/icons.svg#icon-instagram-2"></use>
                        </svg>
                    </a>
                </li>
                <li class="team_icon_list_item">
                    <a href="#" class="team_icon_a">
                        <svg class="soc_icon_svg" width="16" height="16">
                            <use href ="../static/images/icons.svg#icon-twitter-1"></use>
                        </svg>
                    </a>
                </li>
                <li class="team_icon_list_item">
                    <a href="#" class="team_icon_a">
                        <svg class="soc_icon_svg" width="16" height="16">
                            <use href ="../static/images/icons.svg#icon-facebook-1"></use>
                        </svg>
                    </a>
                </li>
                <li class="team_icon_list_item">
                    <a href="#" class="team_icon_a">
                        <svg class="soc_icon_svg" width="16" height="16">
                            <use href ="../static/images/icons.svg#icon-linkedin-1"></use>
                        </svg>
                    </a>
                </li>
            </ul>
          </address>
        </div>
      </div>
</body>
</html>
